#project files
.DS_Store
target/
build/
do_not_git/
DoNotGit*
.idea/
.gradle/
*.iml
*.ipr
*.iws
*-execution-hints.log
*-execution-times.log
docs/html/
docs/build.log
/tmp/
backwards/
html_docs
.vagrant/
gradle.properties

dependency-reduced-pom.xml
classes